language: go

go:
- "1.11.x"

env:
- GO111MODULE=auto

install:
- make install

before_script:
- go install -mod vendor github.com/golangci/golangci-lint/cmd/golangci-lint

script:
- make deps
- make install
- make test-coverage
- make check
- make benchmark

after_success:
- bash <(curl -s https://codecov.io/bash)

notifications:
  email:
    on_success: change
    on_failure: always
